@import '../../styles/variables.css';

.site-header {
  width: 100%;
  background: transparent;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--header-padding);
}


.header-title {
  display: flex;
  align-items: center;
  gap: var(--header-title-gap);
}

.header-title h1 {
  color: var(--header-text-color);
  margin: 0;
  order: 1;
  font-size: var(--header-title-font-size);
  font-weight: 700;
}

.header-title img {
  width: var(--header-logo-width);
  height: auto;
  order: -1;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

@media (max-width: 768px) {
  .header-title h1 {
    font-size: 3rem;
  }
  
  .header-title img {
    width: 60px;
  }
  
  .header-container {
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .header-title h1 {
    font-size: 2rem;
  }
  
  .header-title img {
    width: 40px;
  }
  
  .header-title {
    gap: 8px;
  }
}