.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.title {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.title h1 {
    color: #FFFFFC;
    margin: 0;
    order: 1; 
    font-size: 5rem;
}

.title img{
    width: 80px;
    height: auto;
    order: -1; 
    margin-bottom: 10px;
}