img {
    width:  500px;
    height: auto;
}

.SavingsIcon-container {
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    height: 100vh; 
    position: absolute;
    left: 23%; 
    top: 50%; 
    transform: translateY(-50%); 
}

.svg-icon {
    width: 100px; 
    height: auto; 
}