:root {

  --color-lavaca: #3F60E5;
  --primary-white: #FFFFFC;
  --primary-blue: #AFDAFD;
  --secondary-blue: #D7EDFD;
  --dark-blue: #001524;
  --link-color: #646cff;
  --link-hover: #3239cc;
  

  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --line-height: 1.5;
  --font-weight: 400;
  

  --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  font-weight: 500;
  color: var(--link-color);
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--link-hover);
  text-decoration: underline;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-lavaca);
  color: var(--primary-white);
  cursor: pointer;
  transition: all 0.25s ease;
}


button:hover {
  background-color: var(--link-hover);
}




